:root {
	--black: #000;
	--white: #fff;
	--orange: #f90;
	--dark-orange: #e1670e;
	--light-orange: #ffb84d;
	--gray: #666;
	--light-gray: #cacaca;
}

@font-face {
	font-family: 'Montserrat';
	src: local('Montserrat-Regular'), url('../fonts/Montserrat-Regular.woff2') format("woff2"), url('../fonts/Montserrat-Regular.woff');
font-weight: 400;
font-style: normal;
font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: local('Montserrat-SemiBold'), url('../fonts/Montserrat-SemiBold.woff2') format("woff2"), url('../fonts/Montserrat-SemiBold.woff');
font-weight: 600;
font-style: normal;
font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: local('Montserrat-Bold'), url('../fonts/Montserrat-Bold.woff2') format("woff2"), url('../fonts/Montserrat-Bold.woff');
font-weight: 700;
font-style: normal;
font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: local('Montserrat-Black'), url('../fonts/Montserrat-Black.woff2') format("woff2"), url('../fonts/Montserrat-Black.woff');
font-weight: 800;
font-style: normal;
font-display: swap;
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

body {
	font-family: 'Montserrat', sans-serif;
	background-color: var(--white);
	color: #000;
}

/* Helpers */
.list-reset {
	margin: 0;
	padding: 0;
	list-style: none;
}

.btn-reset {
	padding: 0;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Global */
.container {
	margin: 0 auto;
	max-width: 1770px;
}

.container_flex {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.nav {

}

.nav__list {
	display: flex;
	flex-wrap: wrap;
}

.nav__link {
	padding-bottom: 7px;
	font-size: 18px;
	font-weight: 600;
	line-height: 120%;
	border-bottom: 2px solid transparent;
	transition: color .3s ease-in-out, border .3s ease-in-out;
}

.nav__link:hover {
	border-bottom: 2px solid var(--orange);
}

.nav__link:focus {
	outline: 2px solid var(--orange);
	outline-offset: 5px;
	border: transparent;
}

.nav__link:active {
	outline: none;
	border-bottom: 2px solid var(--orange);
	color: var(--orange);
}

.btn {
	padding: 19px 38px;
	font-weight: 700;
	border-radius: 16px;
	color: var(--white);
	background: var(--orange);
	transition: background .3s ease-in-out, color .3s ease-in-out;
}

.btn:hover {
	background: var(--light-orange);
}

.btn:focus {
	background: var(--light-orange);
}

.btn:active {
	background: var(--dark-orange);
}

.section {
	margin-bottom: 100px;
}

.section__title {
	margin: 0;
	margin-bottom: 32px;
	font-size: 48px;
	font-weight: 400;
	line-height: 120%;
	color: #000;
}

.text {
	margin: 0;
	font-size: 16px;
	font-weight: 400;
	line-height: 200%;
	color: var(--black);
}

.block {
	display: flex;
	gap: 32px;
}

.rounded {
	border-radius: 32px;
}

.card {
	padding: 65px 60px;
	width: calc((100% - (var(--gap) * var(--offsets))) / (var(--offsets) + 1));
	border-radius: 32px;
	border: 1px solid var(--light-gray);
}

.card__list {
	display: flex;
	gap: 32px;
}

.card__title,
.block__title {
	margin: 0;
	margin-bottom: 8px;
	font-size: 24px;
	font-weight: 700;
	line-height: 120%;
}

.card__description {

}

/* Header */
.header {
	margin-bottom: 46px;
	padding: 14px 50px;
}

.header-logo {
	margin-right: auto;
}

.header-logo__img {
	width: 225px;
}

.nav_header {
	margin-right: 85px;
}

.nav__list {
	gap: 85px;
}

.btn_search rect,
.btn_search path {
	transition: fill .3s ease-in-out, stroke .3s ease-in-out;
}

.btn_search:hover rect {
	fill: var(--orange);
}

.btn_search:hover path {
	stroke: var(--orange);
}

.btn_search:focus {
	outline: 2px solid var(--orange);
	outline-offset: 5px;
}

.btn_search:focus rect {
	fill: var(--black);
}

.btn_search:focus path {
	stroke: var(--black);
}

.btn_search:active {
	outline: none;
}

/* Hero */
.section_hero {
	min-height: 620px;
	margin-bottom: 52px;
	padding: 101px 80px;
	background: url('../img/hero-bg.jpg') no-repeat center  center / cover;
}

.hero__lead {
	max-width: 837px;
	margin-bottom: 26px;
	font-size: 70px;
	font-weight: 800;
	line-height: 120%;
	letter-spacing: -.8px;
	color: var(--white);
}

.hero__description {
	max-width: 790px;
	margin: 0;
	margin-bottom: 90px;
	font-size: 24px;
	font-weight: 700;
	line-height: 120%;
	color: var(--white);
}

.btn_hero {
	padding: 25px 39px;
	font-size: 23px;
}

/* About */
.about_title {
	margin-bottom: 20px;
}

.about__text {
	max-width: 1235px;
	margin-bottom: 50px;
}

.about__block-wrapper {
	
}

.about__left {
	min-width: 868px;
}

.about__right {
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.post {
	display: flex;
	height: 100%;
	flex-grow: 1;
}

.post_bg {
	background: url('../img/about-bg.jpg') no-repeat center center / cover;
}

.post__overlay {
	display: flex;
	align-items: center;
	margin-top: auto;
	padding: 50px;
	gap: 160px;
	color: var(--white);
	background: rgba(0, 0, 0, 0.50);;
}

.post__text {
	font-weight: 700;
	line-height: 200%;
	color: var(--white);
}

.block__card {
	--gap: 32px;
	--offsets: 0;
	position: relative;
	width: calc((100% - (var(--gap) * var(--offsets))) / (var(--offsets) + 1));
	padding: 63px 110px 65px 300px;
}

.block__card::before {
	content: "";
	position: absolute;
	width: 125px;
	height: 125px;
	background: var(--orange);
	border-radius: 50%;
	left: 60px;
	top: 100px;
}

.block__card_box::after,
.block__card_gear::after {
	content: "";
	position: absolute;
	width: 135px;
	height: 135px;
	left: 130px;
	top: 60px;
}

.block__card_box::after {
	background: url('../img/icon-box.svg') no-repeat left center /contain;
}

.block__card_gear::after {
	background: url('../img/icon-gear.svg') no-repeat left center /contain;
}

/* Stages */
.stages__title {
	margin-bottom: 36px;
}

.stages__wrapper {
	gap: 160px;
}

.stages__text {
	margin-bottom: 21px;
}

.stages__bottom {
	display: flex;
	gap: 32px;
}

.stages__right {
	display: flex;
	height: 100%;
	padding-top: 7px;
	min-width: 870px;
}

.stages__image-bg {
	flex-grow: 1;
	min-height: 460px;
	width: 100%;
	background: url('../img/stages.jpg') no-repeat center center / cover;
}

.btn_outline {
	background: transparent;
	border: 1px solid var(--black);
	color: var(--black);
	transition: color .3s ease-in-out, background .3s ease-in-out;
}

.btn_outline:hover,
.btn_outline:focus {
	background: var(--gray);
	border: 1px solid var(--gray);
	color: var(--white);
}

.btn_outline:active {
	background: var(--black);
	border: 1px solid var(--black);
	color: var(--white);
}

/* Questions */
.question__card {
	--gap: 32px;
	--offsets: 2;
}

.question__title {
	margin: 0;
	margin-bottom: 8px;
}

.question__description {
	margin: 0;
	line-height: 200%;
}

/* Footer */
.footer {
	padding: 50px 75px;
	background: var(--black);
	color: var(--white);
}

.footer__wrapper {
	flex-wrap: wrap;
	gap: 30px;
}

.footer__left {
	display: flex;
	flex-direction: column;
	min-height: 252px;
	margin-right: 320px;
}

.foooter__center {
	margin-right: 206px;
}

.footer__right {
	max-width: 363px;
	padding-top: 87px;
}

.foter-logo {
	display: block;
	margin-bottom: 23px;
}

.footer-logo__img {
	width: 224px;
}

.nav_footer {

}

.nav__list_footer {
	flex-direction: column;
	gap: 14px;
}

.social  {
	display: flex;
	gap: 24px;
	margin-top: auto;
}

.form {
	display: flex;
	flex-direction: column;
	min-width: 570px;
}
.form__title {
	margin: 0;
	margin-bottom: 25px;
	font-size: 48px;
	font-weight: 400;
	line-height: 120%;
}

.form__input {
	margin-bottom: 25px;
	padding: 19px 24px;
	border-radius: 16px;
}

.form__textarea {
	height: 150px;
	margin-bottom: 32px;
	padding: 19px 24px;
	border-radius: 16px;
	resize: none;
}

.form__btn {
	padding: 19px 52px;
}

.form__buttom {
	display: flex;
	align-items: center;
	gap: 20px;
}

.form__label {
	position: relative;
	padding-left: 20px;
}

.form__label::before,
.form__label::after  {
	position: absolute;
	content: "";
	width: 14px;
	height: 14px;	
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}

.form__label::before {
	border: 1px solid var(--light-gray);
}

.form__checkbox + .form__label::after {
	background: none;
}

.form__checkbox:checked + .form__label::after {
	background: url('../img/check.svg') no-repeat center center / contain;
}

.form__checkbox {
	display: none;
}

.footer__text {
	color: var(--white);
}








